body {
  margin:0;
  padding:0;
  background-color: #f9fafb;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

head {
  padding: 40px 0 10px 0;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color:#f9fafb;
    font-size: 37px;
    color: #5f0000;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px;
}

.page {
  margin: auto;
  padding: 50px;
  padding-top: 35px;
  max-width: 1250px;
}

.pure-g {
    margin-bottom: 20px;
}

.vcenter-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pad-right {
    padding-right: 20px;
}

.pad-left {
    padding-left: 20px;
}

.card {
    position: relative;
    background: #f9fafb;
    border-radius: 14px;
    padding: 16px 18px;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: all .3s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 28px;
    border-color: #d7dde4;
}

.vis-container {
    width: 100%;
}


/* Footer */
footer{
    background-color:rgb(226, 255, 255);
    padding: 20px;
    font-size: 0.9em;
    color:#555
}