body {
  margin:0;
  padding:0;
  background-color: #ffece2;
  color: #222;
  font-family: 'Times New Roman', Times, serif;
}

head {
  padding: 40px 0 10px 0;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16;
    font-weight: bold ;
    line-height: 1.55;
    color: #333;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color:#f9fafb;
    font-size: 37px;
    color: #5f0000;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: #5f0000;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px;
}

.caption {
    margin:10px 4px 0;color:var(--muted);font-size:.92rem
}

.pure-u-md-2-3 { 
    min-width: 0; 
}

.pure-u-md-3-4 { min-width: 0; }

.vega-embed, .vega-embed > * { 
    width: 100%; max-width: 100%; height: auto;
}

.page {
  margin: auto;
  padding: 50px;
  padding-top: 35px;
  max-width: 1250px;
}

.pure-g {
    margin-bottom: 20px;
}

.vcenter-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pad-right {
    padding-right: 20px;
}

.pad-left {
    padding-left: 20px;
}

.card {
    position: relative;
    background: #f9fafb;
    border-radius: 14px;
    padding: 6px 8px;
    border: 1px solid gba(108, 103, 163, 0.08);
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: all .3s ease;
    overflow:hidden;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 28px;
    border-color: #d7dde4;
}

.vis-container {
    width: 100%;
}


/* Footer */
footer{
    padding: 20px;
    font-size: 0.9em;
    color:#555
}