body {
  margin:0;
  padding:0;
  background-color: #fbf2ee;
  color: #222;
  font-family: 'Times New Roman', Times, serif;
}

head {
  padding: 40px 0 10px 0;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold ;
    line-height: 1.55;
    color: #333;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color:#f9fafb;
    font-size: 37px;
    color: #5f0000;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    font-size: 27px;
    color: #5f0000;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px;
}

.pure-u-md-2-3 { 
    min-width: 0; 
}

.pure-u-md-3-4 { min-width: 0; }

.vega-embed, .vega-embed > * { 
    width: 100%; 
    max-width: 100%; 
    height: auto;
}

.page {
  margin: auto;
  padding: 50px;
  padding-top: 35px;
  max-width: 1250px;
}

.pure-g {
    margin-bottom: 20px;
}

.vcenter-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pad-right {
    padding-right: 20px;
}

.pad-left {
    padding-left: 20px;
}

.card {
    position: relative;
    background: #f9fafb;
    border-radius: 14px;
    padding: 6px 8px;
    border: 1px solid gba(108, 103, 163, 0.08);
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: all .3s ease;
    overflow:hidden;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 28px;
    border-color: #d7dde4;
}

.vis-container {
    width: 100%;
}

.stats-strip {
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.stat-card {
    background: #f9fafb;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    padding: 20px;
    height: 100%;
    margin: 10px;
    border: 3px solid #7b1e1e;
    transition: transform 0.2s ease;
    box-sizing: border-box;  
}

.stat-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}


.stat-pill {
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 999px;
    background: #f3e6e6;
    color: #7b1e1e;
    font-weight: bold;
}

.stat-value {
  font-size: 22px;
  color: #2b2b2b;
  font-weight: 700;
  margin-top: 8px;
}

.stat-note {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
  margin-top: 4px;
  font-family: "Times New Roman", Times, serif;
}

/* Footer */
footer{
    padding: 20px;
    font-size: 0.9em;
    color:#555
}